.header{
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 30px;
}
#posts{
    padding: 20px 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post{
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 20px 10px;
    position: relative;
}
.title{
    font-size: 20px;
    line-height: 25px;

}
.body{
    font-size: 16px;
    line-height: 20px;
}
.by{
    float: right;
    margin-right: 50px;
    font-weight: 600;
}
.deleteButton{
    top: -5px;
    right: 20px;
    padding: 2px;
    position: absolute;
    border: 1px solid gray;
    cursor: pointer;
}
.deleteButton:hover{
    color: red;
}